# OS
.DS_Store

# Node
node_modules/
dist/
coverage/

# Vite
.vite/
frontend/vite.config.d.ts
frontend/vite.config.js

# TypeScript
*.tsbuildinfo

# Gradle
.gradle/
**/build/
backend/bin/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log
